.summary {
  text-align: center;
  margin: 24px 0;
}
.title {
  color: var(--primary);
  font-size: 28px;
  font-weight: 700;
}
.value {
  font-size: 64px;
  font-weight: 800;
  color: var(--primary);
}
.subtitle {
  color: #525252;
}

