<div class="preloader">
  <div class="preloader-content">
    <div class="logo-wrapper">
      <img 
        *ngIf="showGif" 
        src="/propza-main.gif" 
        alt="Propza" 
        class="logo-image logo-gif">
      <img 
        *ngIf="showPng" 
        src="/final-frame.png" 
        alt="Propza" 
        class="logo-image logo-png">
    </div>
    <div class="spinner-container">
      <div class="spinner-ring"></div>
    </div>
    <div class="loading-text">Loading...</div>
  </div>
</div>
